# name: Flutter CI/CD

# on:
#   push:
#     branches: 
#       - lab7
#   pull_request:
#     branches: 
#       - lab7
# jobs:
#   build:
#     runs-on: ubuntu-latest
#     steps:
#     - uses: actions/checkout@v4
#     - uses: subosito/flutter-action@v2
#       with:
#         channel: 'stable'
#         flutter-version: 3.22.2
#     - run: flutter pub get
#     - run: flutter test test/test_for_main.dart
#     - run: flutter analyze lib/templates/lab7
#     - run: flutter build web lib/templates/lab7/main.dart

#     # - name: Deploy to GitHub Pages
#     #   uses: peaceiris/actions-gh-pages@v3
#     #   with:
#     #     github_token: ${{ secrets.GITHUB_TOKEN }}
#     #     publish_dir: ./build/web
name: Flutter CI

 on:
   push:
     branches:
       - lab7
   pull_request:
     branches:
       - lab7

 jobs:
   build:
     runs-on: ubuntu-latest

     steps:
     - uses: actions/checkout@v2
     - name: Set up Flutter
       uses: subosito/flutter-action@v2
       with:
         flutter-version: '2.10.3' # Use your Flutter version here

     - name: Install dependencies
       run: flutter pub get

     - name: Analyze
       run: flutter analyze

     - name: Test
       run: flutter test

   deploy:
     runs-on: ubuntu-latest
     needs: build

     steps:
     - uses: actions/checkout@v2
     - name: Set up Flutter
       uses: subosito/flutter-action@v2
       with:
         flutter-version: '2.10.3' # Use your Flutter version here

     - name: Install dependencies
       run: flutter pub get

     - name: Build web
       run: flutter build web

     - name: Deploy to GitHub Pages
       uses: peaceiris/actions-gh-pages@v3
       with:
         github_token: ${{ secrets.GITHUB_TOKEN }}
         publish_dir: build/web