name: Build Web

on: 
    push:
        branches:
            - lab7
    pull_request:
        branches:
            - lab7

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: subosito/flutter-action@v2
              with:
                channel: stable
                flutter-version: 3.22.2
            - run: flutter pub get

            - run: flutter test test/test_for_main.dart

            - run: flutter analyze  --no-fatal-warnings --no-fatal-infos lib/templates/lab7/main.dart               

            - uses: bluefireteam/flutter-gh-pages@v7
              with:
                baseHref: /Sum24FlutterCourse/
                customArgs: --target="lib/templates/lab7/main.dart"
    
    build-windows:
        runs-on: windows-latest
        steps:
            - uses: actions/checkout@v4
            - uses: subosito/flutter-action@v2
              with:
                channel: stable
                flutter-version: 3.22.2
            - run: flutter pub get

            - name: Install Visual Studio Build Tools
              run: choco install visualstudio2019buildtools --package-parameters "--add Microsoft.VisualStudio.Workload.NativeDesktop --includeRecommended --includeOptional"

            - run: flutter build windows --release lib/templates/lab7/main.dart